.movimientos{
    border: 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 7px 7px 15px #592A08; 
}

.nomovimientos{
    color: rgba(128, 128, 128, 0.493);
}